<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243145926840-8272abib2ns0hhjsqh528bntd6gq3ej9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243145926840-8272abib2ns0hhjsqh528bntd6gq3ej9</string>
	<key>API_KEY</key>
	<string>AIzaSyAVIKh6DhlTZHi3zMAhGGYmJT4fOw2ENQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>243145926840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sbInventory</string>
	<key>PROJECT_ID</key>
	<string>sp-inventory-80cee</string>
	<key>STORAGE_BUCKET</key>
	<string>sp-inventory-80cee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243145926840:ios:30d03e9c5800d35b7e6c4d</string>
</dict>
</plist>